<footer id="footer">
    <div class="scrollUp hide">
        <img src="../assets/images/arrow.png" alt="" />
    </div>
    <div class="loading hide">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div>
</footer>