<header id="header">
    <div id="headerContentsWarpper">
        <input type="text" id="searchBox" placeholder="Banana Book Store!" />
        <img class="glass" src="../assets/images/magnifying-glass.png" alt="">
    </div>
    <div class="displayType hide">
        <div id="list-view">
            <img src="../assets/images/view-list.png" alt="">
        </div>
        <div id="card-view">
            <img src="../assets/images/card-view.png" alt="">
        </div>
    </div>
</header>
